@import "nav_toggle";
@import '../static/constants.scss';
@import 'main-block.scss';
@import 'about-us.scss';
@import 'about-company.scss';
@import 'benefits.scss';
@import 'trial-lesson.scss';
@import 'services.scss';
@import 'teachers.scss';
@import 'reviews.scss';
@import 'franchise.scss';
@import 'galery.scss';
@import 'modals.scss';
@import 'about-course.scss';
@import 'course-program.scss';
@import 'franchise-main.scss';
@import 'achievements.scss';
@import 'title-block.scss';
@import 'franch-packet.scss';
@import 'investments-table.scss';
@import 'franchise-start.scss';
@import 'custom-select.scss';
html{
  overflow-x: hidden;
  position: relative;
}
body{
  font-family: 'Geometria';
  //overflow-x: hidden;
  height: 100vh;
  position: relative;
  &.no_scroll{
    overflow: hidden;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 3px;
  }
}
.wrapper{
  overflow-x: hidden;
  overflow-y: clip;
  position: relative;
}
section{
  position: relative;
  overflow: hidden;
}
.paralax-bg{
  position: absolute;
  width: 110%;
  height: 110%;
  transition: all 0.1s ease;
}
#main-page{
  position: relative;
  z-index: 1;
}
.container{
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;
  &.table{
    overflow: auto;
  }
}
.swiper-container{
  width: 100%;
}
.swiper-pagination{
  &.teachers{
    padding: 0;
    background: none;
    bottom: 30px!important;
  }
}
.swiper-pagination-bullet{
  background-color: $gray!important;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: $yellow!important;
}
.swiper-slide{
  &.teacher_item {
    height: auto!important;
  }
  &.galery_item{
    height: 240px!important;
  }
}
:root {
  --swiper-theme-color: $black;
}

.default-select{
  width: 100%;
}
.swiper-buttons_wrap{
  .swiper-buttons{
    width: 268px;
    margin: 0 auto;
    position: relative;
    bottom: -70px;
    .swiper-button-prev, .swiper-button-next{
      top: auto;
      bottom: 0;
      width: 40px;
      height: 40px;
      background-color: $yellow;
      border-radius: 50%;
    }
    .swiper-button-next{
      &:after{
        content: '' !important;
        background: url("/img/swiper-arrow-next.svg") top 12px left 17px no-repeat;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .swiper-button-prev{
      &:after{
        content: '' !important;
        background: url("/img/swiper-arrow-prev.svg") top 12px left 15px no-repeat;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

a{
  cursor: pointer;
  color: $black;
  &:active{
    color: $black;
  }
  &:hover{
    color: $black;
  }
}
.no-pl{
  padding-left: 0;
}
.btn_type_1,.modal_btn{
  padding: 13px 30px 15px 30px;
  background-color: $yellow;
  border-radius: 8px;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  &:hover{
    transition: background-color .1s linear;
    background-color: $darkYellow;
  }
}
.btn_type_2{
  padding: 13px 30px 15px 30px;
  background-color: $black;
  border-radius: 8px;
  color: $yellow;
  font-size: 16px;
  font-weight: 400;
  &:hover{
    transition: background-color .1s linear;
    background-color: $darkGray;
  }
}
.img-wrap{
  border: 15px solid white;
  // background: url('/img/img-wrap.png') center / contain no-repeat;
  border-image: url('/img/img-wrap.png') 30 fill / 15px stretch;
  height: 100%;
  img{
  }
}
.no-scroll{
  overflow: hidden;
}
@media(max-width: $media_789){
  .swiper-pagination{
    width: 268px!important;
    &.teachers{
      width: 288px!important;
      bottom: 30px!important;
    }
  }
  .btn_type_1,
  .btn_type_2{
    font-size: 12px;
  }
  .swiper-buttons_wrap{
    .swiper-buttons{
      margin: 0;
    }
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    width: 268px;
  }
  .no-pading-mobile{
    padding: 0;
  }
}
.animate_title{
  overflow: hidden;
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.25, 1);
}

[data-aos="flip-custom"] {
  transform: skewX(45deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: skewX(0);
    opacity: 1;
  }
}
[data-aos="clip-square"] {
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition-property: clip-path;
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}
[data-aos="clip-bottom"] {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition-property: clip-path;
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}
[data-aos="clip-top"] {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translateY(100%);
  transition-property: clip-path, transform;
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
    transform: translateY(0);
  }
}
[data-aos="clip-top-50"] {
  transform: translateY(60px);
  transition-property: position, transform, opacity;
  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-aos="clip-top-10"] {
  //clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 100%);
  transform: translateX(-100px);
  transition-property: transform, clip-path;
  &.aos-animate {
    transition-property: transform, clip-path;
    transform: translateX(0px);
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
[data-aos="clip-right"] {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition-property: clip-path, transform;
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}
[data-aos="clip-left"] {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition-property: clip-path, transform;
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}

[data-aos="slide-up"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity, transform;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-up-new"] {
  transform: translateY(0);
  opacity: 0;
  transition-property: opacity, transform;
  &.aos-animate {
    transform: translateY(-20px);
    opacity: 1;
  }
}
[data-aos="skew-right-50"] {
  opacity: 0;
  transform: translate(-150px);
  //transform: skewX(45deg);
  transition-property: transform, opacity;
  &.aos-animate {
    opacity: 1;
    transform: translateX(0px);
    //transform: skewX(0);
  }
}
body[data-aos-duration='4000'] [data-aos], [data-aos][data-aos][data-aos-duration='4000']{
  transition-duration: 4000ms;
}
@for $i from 1 through 20 {
  [data-aos][data-aos][data-aos-delay='#{$i * 20}'].aos-animate,
  body[data-aos-delay='#{$i * 20}'] [data-aos].aos-animate {
    transition-delay: #{$i * 20}ms;
  }
}