@import "../static/constants";
.about_us{
  padding: 80px 0 100px;
}
.about_us-bg{
  background: url("/img/bg-9.svg") left center no-repeat,
  url("/img/bg-10.svg") right center no-repeat;
}
.about_us_title{
  text-align: center;
  font-size: 48px;
  color: $black;
  font-weight: 700;
  margin-bottom: 40px;
}
.about_us_wrap{
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  width: 85%;
  margin: 0 auto;
  img{
    border-radius: 16px;
    //visibility: hidden;
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  &.active{
    iframe{
      display: block;
    }
  }
  .about_us_play_btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 92px;
    height: 46px;
    transform: translate(-50%, -50%);
  }
}

@media(max-width: $media_1024){
  .about_us_title{
    margin-bottom: 20px;
    font-size: 26px;
  }
  .about_us{
    padding: 0 0 40px;
  }
  .about_us-bg{
    background: url("/img/mobile-bg-9.svg") left center no-repeat,
  url("/img/mobile-bg-10.svg") right center no-repeat;
  }
  .about_us_wrap{
    background: none;
  }
}
