@import "../static/constants";
.about_company{
	&.founder{
		background: url('/img/bg-23.svg') left bottom no-repeat;
		margin-bottom: 60px;
	}
}
.about_company_wrap {
	display: flex;
  margin-bottom: 20px;

}
.about_company_left_col {
	img {
			width: 100%;
		border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
	}
}
.about_company_right_col {
	flex: 0 1 730px;
	padding: 60px 80px;
	align-self: flex-end;
	border: 2px solid $blue;
	border-radius: 16px;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	.about_company_footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-weight: 400;
		color: $black;
		.name{

		}
		.link{
			text-decoration: underline;
			&:hover{
				color: blue;
			}
		}
	}
}
.about_company_title {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 48px;
}
.about_company_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
	&:last-child {
		margin: 0;
	}
}
@media (max-width: $media_1330) {
	.about_company_left_col {
    img{
      border-bottom-left-radius: 0;
    }
	}
	.about_company_right_col {
		padding: 30px 20px;
	}
	.about_company_title {
		margin-bottom: 20px;
	}
	.about_company_text {
		margin-bottom: 20px;
	}
}
@media (max-width: $media_1024) {
	.about_company_wrap {
		display: block;
	}
  .about_company_left_col{
    max-width: 50%;
    margin-bottom: -1px;
  }
  .about_company_right_col{
    border-left: 2px solid $blue;
    border-bottom-left-radius: 16px;
  }
}
@media (max-width: $media_789) {
  .about_company_left_col{
    max-width: 100%;
    margin-bottom: -80px;
    img{
      border-bottom-left-radius: 80px;
    }
  }
  .about_company_right_col{
    padding: 100px 20px 20px
  }
  .about_company_title{
    font-size: 26px;
  }
  .about_company_text{
    font-size: 14px;
    line-height: 20px;
  }
}