@import "../static/constants";
.about_course {
	padding: 100px 0 200px;
	background: url("/img/bg-11.svg") right center / contain no-repeat;
}
.about_course_wrap {
	display: flex;
	align-items: center;
}
.about_course_col {
	flex: 1 1 50%;
	padding-right: 70px;
}
.about_course_info {
	font-size: 18px;
	font-weight: 400;
	color: $black;
	text-transform: uppercase;
}
.about_course_slash {
	margin: 0 15px;
}
.about_course_title {
	margin: 12px 0 30px;
	font-size: 56px;
	font-weight: 700;
	color: $black;
}
.about_course_text {
	max-width: 520px;
	font-weight: 400;
	font-size: 16px;
	color: $black;
  line-height: 24px;
	margin-bottom: 30px;
}
.about_course_cost {
	margin: 30px 0 0;
	font-size: 32px;
	font-weight: 700;
	color: $black;
}
.about_course_btn {
	margin-top: 40px;
}
@media (max-width: $media_789) {
  .about_course {
	padding: 60px 0;
}
	.about_course_wrap {
		display: block;
		align-items: center;
	}
	.about_course_col {
		padding: 0;
	}
	.about_course_info {
		margin-top: 20px;
	}
	.about_course_slash {
		margin: 0 15px;
	}
	.about_course_title {
		font-size: 40px;
		margin: 15px 0 20px;
	}
	.about_course_cost {
		margin: 15px 0 20px;
		font-size: 25px;
	}
}
