@import "../static/constants";
.achievements {
	padding-bottom: 120px;
  background: url('/img/bg-14.svg') right 52px bottom 60px no-repeat,
              url('/img/bg-15.svg') left 100px bottom no-repeat;
  &.no_bg{
    background: none;
  }
	&.CA{
		background: url('/img/bg-25.svg') right bottom 40px no-repeat,
		url('/img/bg-24.svg') left top no-repeat;
	}
	&.franch{
		.container{
			padding-top: 60px;
			background: url('/img/bg-26.png') left 52px top no-repeat;
		}
	}
}
.achievements_title {
	font-size: 48px;
	font-weight: 700;
	color: $black;
	text-align: center;
	margin-bottom: 40px;
}
.achievements_wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.achievement_item {
	flex: 0 1 20%;
	margin-right: 15px;
	&:last-child {
		margin: 0;
	}
  &.long{
    flex: 0 1 33.333%;
  }
}
.achievement_title {
	font-size: 32px;
	font-weight: 700;
	color: $black;
	span {
		background-color: $yellow;
	}
}
.achievement_text {
	margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: $black;
}
@media (max-width: $media_1024) {
	.achievement_title {
		font-size: 25px;
	}
}
@media (max-width: $media_789) {
	.achievements {
		padding-bottom: 60px;
	}
	.achievements_wrap {
		display: block;
	}
	.achievements_title {
		font-size: 26px;
		margin-bottom: 20px;
		text-align-last: left;
	}
	.achievement_item {
		max-width: 234px;
		margin: 15px 0;
		&:last-child {
			margin: 15px 0;
		}
    &.long{
    max-width: 380px;
  }
	}
}
