@import "../static/constants";
.benefits {
  background: url('/img/bg-2.svg') right top no-repeat ,
              url('/img/bg-3.svg') left bottom no-repeat;
  padding: 140px 0 160px;
  &.for_whom{
    padding: 60px 0;
    background: none;
  }
  &.benefits_franchise{
    margin-top: 60px;
    background: url('/img/bg-20.svg') left center /contain no-repeat;
  }
}
.benefits_title{
  font-size: 48px;
  font-weight: 700;
  color: $black;
  margin-bottom: 40px;
  text-align: center;
}
.benefits_wrap {
	display: flex;
	// margin: 0 -15px;
	// padding: 0 15px;
}
.benefits_item {
	flex: 1 1 33.333%;
	margin: 0 15px;
  .img-wrap{
    padding: 15px;
  }

}

.benefits_item_icon {
	width: 37px;
	height: 40px;
}
.benefits_item_title {
	font-weight: 700;
	font-size: 20px;
	color: $black;
  margin-top: 20px;
}
.benefits_item_text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
  margin-top: 15px;
}
@media(max-width: $media_789){
  .benefits{
    background: url('/img/bg-2.svg') right top no-repeat,
                url('/img/bg-3.svg') left bottom no-repeat;
    &.benefits_franchise{
      background: none;
      margin-top: 0;
    }
  }
  .benefits_title{
    font-size: 26px;
  }
  .benefits_wrap{
    display: block;
  }
  .benefits_item{
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
