@import "../static/constants";
.course_program {
	padding: 60px 0 120px;
  background: url("/img/bg-12.svg") right top 60px no-repeat,
                url("/img/bg-13.svg") left bottom 60px no-repeat;
}
.course_program_wrap {
  text-align: center;
}
.course_program_title {
	font-size: 48px;
	font-weight: 700;
	color: $black;
	margin-bottom: 30px;
	text-align: center;
}
.course_program_accordeon {
	max-width: 850px;
	margin: 0 auto;
  text-align: left;
}
.corse_program_item {
	padding: 20px 0;
	border-bottom: 1px solid $gray;
	&.active {
		.course_program_item_text {
			height: auto;
			transform: scale(1);
			transition: all 0.3s linear;
		}
    .course_program_item_title {
      &:after {
        width: 11px;
        height: 2px;
        background: url("/img/minus.svg") no-repeat;
      }
    }
	}
}
.course_program_item_title {
	cursor: pointer;
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	color: $black;
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 9px;
		right: 0;
		width: 11px;
		height: 11px;
		background: url("/img/plus.svg") no-repeat;
	}
}
.course_program_item_text {
	font-weight: 400;
	line-height: 24px;
	margin-top: 8px;
	transform: scale(0);
	height: 0;
	font-size: 16px;
	transition: all 0.1s linear;
	overflow: hidden;
}
.course_program_btn{
  margin-top: 20px;
}
@media(max-width: $media_789){
  .course_program_title{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .corse_program_item{
    padding: 15px 0;
  }
  .course_program_item_title{
    font-size: 18px;
  }
  .course_program_item_text{
    font-size: 14px;
  }
}