@import "../static/constants";
.franchise-start{
  padding: 120px 0;
  background: url('/img/bg-22.svg') right top no-repeat;
}
.franchise-start_title{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.franchise-start_wrap{
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
}
.franchise-start_item{
  flex: 0 1 33.333%;
  padding: 0 20px;
  margin-bottom: 40px;
}
.franchise-start_item_step{
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;
}
.franchise-start_item_title{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.franchise-start_item_title_text{
  font-weight: 700;
  font-size: 24px;
  color: black;
  background-color: $yellow;
}
.franchis-start_item_title_arrow{
  width: 52px;
  height: 24px;
}
.franchise-start_item_text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
}
@media(max-width: $media_789){
  .franchise-start_item{
    flex: 1 1 100%;
  }
  .franchis-start_item_title_arrow{
    transform: rotate(90deg);
  }
}