@import "../static/constants";
.franch-packet {
	padding-bottom: 120px;
  background: url('/img/bg-19.svg') left bottom no-repeat;
}
.franch-packet_wrap {
}
.franch-packet_list {
	display: flex;
	flex-wrap: wrap;
}
.franch-packet_item {
	flex: 0 1 50%;
	font-size: 20px;
	font-weight: 400;
	color: $black;
	&:nth-child(odd) {
		.franch-packet_item_wrap {
			margin-right: 30px;
		}
	}
	span {
		margin-right: 20px;
		font-size: 24px;
		font-weight: 700;
		background-color: $yellow;
		min-width: 34px;
		display: inline-flex;
		justify-content: center;
		margin-bottom: auto;
	}
}
.franch-packet_item_wrap {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid $gray;
}
.franch-packet_checkbox{
	display: flex;
	margin-top: 20px;
}
.franch-packet_checkbox_item{
	flex: 1 1 33.333%;
	display: flex;
	margin-right: 20px;

}
.franch-packet_checkbox_img{
	padding: 7px 6px;
	flex: 0 0 34px;
	height: 30px;
	background-color: $yellow;
	margin-right: 20px;
}
.franch-packet_checkbox_text{
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	color: $black;
}
@media (max-width: $media_789) {
	.franch-packet_item {
		flex: 1 1 100%;
	}
	.franch-packet_item {
		&:nth-child(odd) {
			.franch-packet_item_wrap {
				margin: 0;
			}
		}
	}
	.franch-packet_checkbox{
		display: block;
	}
	.franch-packet_checkbox_item{
		margin-bottom: 15px;
		&:last-child{
			margin: 0;
		}
	}
}
