@import '../static/constants';
.franchise{
  padding-top: 160px;
  padding-bottom: 60px;
  background: url('/img/bg-6.svg') left top 80% no-repeat;
}
.franchise_wrap{
  display: flex;
  align-items: center;
}
.franchise_img,
.franchise_description{
  flex: 1 1 50%;
}
.franchise_img{

}
.franchise_description{
  padding-left: 80px;
}
.franchise_description_title{
  font-size: 48px;
  font-weight: 700;
  color: $black;
}
.franchise_description_text{
  font-weight: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  margin: 20px 0 30px;
}
.franchise_description_btn{

}
@media(max-width: $media_1024){
  .franchise_description_title{
    font-size: 36px;
  }
  .franchise_description_text{
    font-size: 14px;
  }
}
@media(max-width: $media_789){
  .franchise_wrap{
    display: block;
  }
  .franchise_description{
    padding: 0;
    margin-top: 20px;
  }
  .franchise_description_title{
    font-size: 26px;
  }
  .franchise_description_text{
    font-size: 14px;
    margin: 15px 0 20px;
  }
  .franchise{
    background: url('/img/mobile-bg-6.svg') left top 30px no-repeat;
    padding: 50px 0;
  }
}