@import "../static/constants";
.franchise_main_block {
	background: url("/img/franchise-main.png") center / cover no-repeat;
  display: flex;
  align-items: center;
	padding: 142px 0;
}
.franchise_main_wrap {
	text-align: center;
}
.franchise_main_title {
  font-size: 56px;
  font-weight: 700;
  color: $white;
}
.franchise_main_text {
	margin: 30px auto 40px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: $white;
  max-width: 520px;
}
.franchise_main_btn {
}
