@import "../static/constants";
.galery {
	padding-bottom: 160px;
	padding-top: 160px;
	margin-top: -60px;
	background: url("/img/bg-7.svg") right top no-repeat,
              url("/img/bg-8.svg") left bottom 20px no-repeat;
}
.galery_title {
	font-size: 48px;
	font-weight: 700;
	color: $black;
	text-align: center;
	margin-bottom: 40px;
}
.galery_wrapper {
	padding-bottom: 70px!important;
	.swiper-wrapper {
		//display: flex;
	}
}
.galery_item {
	border-radius: 16px;
	height: 240px;
	//height: 240px;
	overflow: hidden;
	//flex: 0 1 400px;
	object-fit: cover;
	cursor: pointer;
	img{
		object-fit: cover;
	}
}
@media (max-width: $media_1024) {
  .galery {
    background: url("/img/bg-7.svg") right top 60px no-repeat,
                url("/img/bg-8.svg") left bottom 20px no-repeat;
  }
}
@media (max-width: $media_789) {
	.galery_title {
		font-size: 26px;
		text-align: left;
		margin-bottom: 20px;
	}
	.galery {
		background: none;
	}
}
