@import "../static/constants";

.investments-table{
  margin: 20px 0 0;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  color: $black;
  tr{
    text-align: center;
    margin: 0 1px;
    &.title{
      background-color: $yellow;
      margin: 0;
      td{
        border-color: $yellow;
        &.th{
          text-align-last: left;
        }
      }
    }
    &.subtitle{
      td{
        border-top: none;
      }
    }
    &.buttons{
      td{
        border: none;
      }
    }
    td,th{
      padding: 17px 20px 14px;
      border: 1px solid $gray;
      max-width: 320px;
      &:first-child{
        min-width: 235px;
      }
      &:not(:first-child){
        white-space: nowrap;
      }
    }
    th{
      font-size: 18px;
      font-weight: 400;
      text-align-last: left;
    }
  }
}
.investments-table-wrap{
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media(max-width: $media_789){
  .investments-table-wrap{
    overflow-x: scroll;
  }
}
