@import '../static/constants';
.main-block{
  padding-top: 110px;
  //margin-top: -140px;
  //margin-top: 110px;
  position: relative;
}
.main-block-bg{
  background: url('/img/bg-1.svg') left top -50px / contain no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main-block_wrap{
  padding: 157px 0 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -110px;
}
.main-block_right_col{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .main-block_img_wrap{
    max-width: 500px;
    display: flex;
    .main-block_img_wrap_col_left{
      flex: 1 1 39%;
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 100%;
      align-self: stretch;
    }
    .main-block_img_wrap_col_right{
      flex: 1 1 61%;
      margin-left: 20px;
      min-height: 100%;
    }
    .img_1{
      max-height: 340px;
      margin-bottom: 20px;
    }
    .img_2{
      max-height: 220px;
    }
    .img_3{
      max-height: 580px;
      height: 100%;
    }
  }
}
.main-block_left_col
.main-block_right_col{
  flex: 1 1 50%;
} 
.main-block_subtitle{
  font-size: 18px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}
.main-block_title{
  font-weight: 700;
  font-size: 56px;
  margin: 12px 0 30px;
  color: $black;
}
.main-block_text{
  max-width: 520px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: $black;
  margin-bottom: 49px;
}

.main-block_right_col{
  margin-left: auto;
}
@media(max-width: $media_1024){
  .main-block_right_col{
    display: none;
    max-width: 530px;
    margin: 0 auto;
  }
}

@media(max-width: $media_789){
  .main-block-bg{
    background: url('/img/mobile-bg-1.svg') left top no-repeat;
  }
  .main-block_wrap{
    display: block;
    padding: 90px 0 50px;
    margin-top: -60px;
  }
  .main-block_title{
    margin: 8px 0 15px;
    font-size: 26px;
  }
  .main-block_subtitle{
    font-size: 12px;
  }
  .main-block_text{
    font-size: 14px;
    margin: 0;
  }
  .main-block_btn{
    margin: 20px 0 30px;
  }
  .main-block_right_col{
    display: block;
    width: 100%;
    height: auto;
  }
}
