@import '../static/constants';
.modal_bg{
  padding: 0 10px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: red;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index:20;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(4px);
  visibility: hidden;
  opacity: 0;
  transition:visibility .3s,opacity .3s;
  &.active{
    visibility: visible;
    opacity: 1;
  }
}
.select__dropdown{
  &.modal{
  }
}
.modal_box{
  text-align: center;
  padding: 90px 100px 100px;
  background-color: $white;
  border-radius: 16px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition:visibility .3s,opacity .3s;
  display: none;
  &.active{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  &.modal_3{
    padding: 0;
    .modal_close_btn{
      top: 15px;
      right: 15px;
    }
  }
}
.modal_close_btn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal_title{
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
.modal_subtitle{
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 30px;
  color: $black;
  text-align: center;
}
.galery_modal_img{
  width: 100%;
  height: 500px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.modal_form{
  &.error{
    .form_error_message{
      display: block;
    }
  }
  .form_error_message{
    display: none;
    margin-bottom: 8px;
    color: red;
  }
}


.input_box{
  margin-bottom: 20px;
  .input_errpor_message{
    display: none;
  }
  &.error{
    input{
      color: $red;
      border-color: $red;
      &::placeholder{
        color: $red;
      }
    }
    .input_errpor_message{
      display: block;
      color: $red;
      font-size: 12px;
      font-weight: 400;
      margin-top: 8px;
    }
  }
  input{
    padding: 17px 20px 15px 20px;
    border: 1px solid $gray;
    border-radius: 8px;
    width: 220px;
    &::placeholder{
      color: $gray;
    }
    &:focus{
      border-color: $darkYellow;
    }
  }
  &.city{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 8px;
    img {
      width: 16px;
      height: 12px;
      margin-right: 8px;
    }
    &:hover{
      .header_nav_item_sublist_wrap{
        transition: all .1s linear;
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: center;

        box-shadow: 0px 20px 32px rgba(156, 155, 162, 0.26);
        .header_nav_item_sublist{
          background-color: $white;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          overflow: hidden;
          width: 100%;
          li{
            transition: all .1s linear;
            &:hover{
              background-color: $gray;
            }
          }
        }
      }
    }
    .header_nav_item_sublist_wrap{
      width: 220px;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      min-width: 240px;
      top: 0;
      padding-top: 25px;
    }
  }

}
.modal_btn{
  max-width: 320px;
  width: 100%;
}

@media(max-width: $media_789){
  .modal_box{
    padding: 30px 20px 40px;
  }
  .modal_title{
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }
  .modal_subtitle{
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px;
  }
  .input_box{
    margin-bottom: 12px;
  }
  .modal_close_btn{
    top: 12px;
    right: 12px;
  }
}