.nav_toggle {
  cursor: pointer;
  padding-left: 1.25em;
  position: absolute;
  width: 32px;
  height: 24px;
}
.toggle_menu {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 2px solid #000;
  width: 100%;
  transition: 0.2s;
}
.bar_top {
  top: 0;
}
.bar_mid {
  top: 9px;
}
.bar_bot {
  top: 18px;
}
.bar_top_click {
  backface-visibility: hidden;
  top: 5px;
  transform: rotate(50deg);
  transition: 0.2s 0.2s;
}
.bar_mid_click {
  opacity: 0;
}
.bar_bot_click {
  backface-visibility: hidden;
  top: 5px;
  transform: rotate(-410deg);
  transition: 0.2s 0.2s;
}