@import '../static/constants';
.reviews{
  background: url('/img/bg-5.svg') right top no-repeat;
  padding-top: 160px;
  &.course_reviews{
    background: url('/img/bg-14.svg') right 5% top no-repeat,
                url('/img/bg-15.svg') left 5% top no-repeat,
                url('/img/bg-16.svg') right 5% bottom 70px no-repeat,
                url('/img/bg-17.svg') left 5% bottom 70px no-repeat;
    padding: 120px 0;
  }
  &.franchise_reviews{
    padding: 0 0 60px;
    background: url('/img/bg-18.svg') right bottom -100px no-repeat;
  }
}
.review_title{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: $black;
  margin-bottom: 40px;
}
.reviews_wrapper{
  padding-bottom: 70px!important;
}
.reviews_item{
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 205px;
  &.active{
    .reviews_item_play-link,img{
      visibility: hidden;
    }
    iframe{
      display: block;
    }
  }
  iframe{
    border-radius: 16px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //object-fit: cover;
  }
}
.reviews_item_img{

}
.reviews_item_play-link{
  position: absolute;
  width: 58px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media(max-width: $media_789){
  .reviews{
    padding-top: 50px;
    background: url('/img/mobile-bg-5.svg') right top 20px no-repeat;
    &.franchise_reviews{
      padding: 60px 0;
    }
  }
  .reviews_wrapper .swiper-wrapper{
    justify-content: normal!important;
  }
  .review_title{
    font-size: 26px;
    text-align: left;
    margin-bottom: 20px;
  }
}