@import '../static/constants.scss';
.services{
  &.story{
    background: url('/img/bg-27.png') left 20px top 40px no-repeat,
  }
}
.services_wrap{
  padding: 120px 0;
}
.services_item{
  display: flex;
  // margin: 0 -15px 40px;
  align-items: center;
  &:last-child{
    margin-bottom: 0;
  }
}
.services_item_col{
  flex: 1 1 50%;
  margin: 0 15px;
  &.order_2{
    order: 2;
  }
  &.order_1{
    order: 1;
  }
}
.services_item_img{
  border-radius: 16px;
  overflow: hidden;
  &.pink{
    box-shadow: -20px 20px 0px 0px $lightPink;
    margin-left: 20px;
  }
  &.purple{
    box-shadow: 20px 20px 0px 0px $lightPurple;
    margin-right: 20px;
  }
  &.yellow{
    box-shadow: -20px 20px 0px 0px $lightYellow;
    margin-left: 20px;
  }
  &.blue{
    box-shadow: 20px 20px 0px 0px $lightBlue;
    margin-right: 20px;
  }
}
.services_item_description{
  padding: 60px 0 60px 60px;
}
.services_item_description_title{
  font-size: 32px;
  margin-bottom: 20px;
  color: $black;
  font-weight: 700;
}
.services_item_description_text{
  max-width: 580px;
  font-size: 16px;
  color: $black;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.services_item_description_btn{

}
@media(max-width: $media_1024){
  .services_item_description{
    padding: 30px 0 30px 30px;
  }
  .services_item{
    // margin: 0 -15px 20px;
  }
  .services_item_description_text{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .services_item_description_title{
    font-size: 26px;
    margin-bottom: 15px;
  }
}
@media(max-width: $media_789){
  .services_item{
    display: block;
  }
  .services_item_description{
    padding: 30px 0 20px;
  }
  .services_wrap{
    padding: 50px 0;
  }
}