@import '../static/constants';
.teachers{
  background: url('/img/bg-4.svg') left top -80px no-repeat;
  padding-bottom: 90px;
}
.teachers_title{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: $black;
  margin-bottom: 38px;
}
.teachers_wrapper{
  padding: 120px 0 90px;
  overflow: hidden;
}
.teacher_item{
  text-align: center;
  //max-width: 410px;
  //width: 100%;
  border-radius: 16px;
  border: 1px solid $blue;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
.tieacher_item_img{
  margin-top: -108px;
  //border-radius: 50%;
  overflow: hidden;
  //flex: 0 0 238px;
  max-height: 238px;
  width: auto;
  clip-path: circle(20% at 50% 50%);
  transform: scale(2);
  flex: 1 1 100%;
  //margin-bottom: auto;
  img{
    //max-width: 280px;
    //height: auto;
    margin: auto auto;
    width: 35%;
    object-fit: contain;
  }
}
.teacher_item_name{
  font-size: 20px;
  font-weight: 700;
  color: $black;
  margin: 20px 0 12px;
}
.teacher_item_profile{
  font-size: 12px;
  font-weight: 400;
  color: black;
  margin: 12px 0;
}
.teacher_item_description{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media(max-width: $media_789){
  .teachers{
    background: url('/img/mobile-bg-4.svg') left top no-repeat;
  }
  .teachers_title{
    font-size: 26px;
    text-align: left;
  }
}