@import "../static/constants";
.title_block {
	&.investments{
		padding-top: 120px;
	}
}
.title_block_wrap {
	display: flex;
	align-items: flex-start;
}
.title_block_col {
	flex: 1 1 50%;
}
.title_block_title {
	font-weight: 700;
	font-size: 60px;
	color: $black;
	margin-bottom: 35px;
}
.tilte_block_subtitle {
	font-weight: 700;
	font-size: 20px;
	color: $black;
}
.title_block_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $black;
}
@media (max-width: $media_789) {
	.title_block {
		&.investments{
			padding-top: 60px;
			.title_block_wrap{
				text-align: center;
			}
		}
	}
  .title_block_title{
    font-size: 34px;
    margin-bottom: 20px;
  }
	.title_block_col {
		flex: 1 1 100%;
    &:last-child{
      display: none;
    }
	}
}
