@import "../static/constants";
.trial-lesson{
  background-color: $yellow;
  padding: 60px 0;
}
.tiral-lesson-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trial-lesson-title{
  font-size: 48px;
  font-weight: 700;
  color: $black;
  white-space: nowrap;
}
.trieal-lesson-btn{

}
@media(max-width: $media_1330){
  .trial-lesson-title{
    font-size: 38px;
  }
}
@media(max-width: $media_1024){
  .trial-lesson-title{
    font-size: 28px;
  }
  .trial-lesson{
    padding: 50px 0 40px;
  }
}
@media(max-width: $media_789){
  .tiral-lesson-wrap{
    display: block;
    text-align: center;
  }
  .trial-lesson-title{
    white-space: normal;
    margin-bottom: 20px;
  }
}
