/* INCLUDE FONTS HERE */
@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria-Regular.eot");
  src: url("/fonts/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Geometria-Regular.woff") format("woff"), url("/fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria-Bold.eot");
  src: url("/fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Geometria-Bold.woff") format("woff"), url("/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
/* INCLUDE KEYFRAMES ANIMATION HERE */
html, body {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
}

input, button, textarea, select, option {
  padding: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
input:focus::-webkit-input-placeholder, button:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, option:focus::-webkit-input-placeholder {
  opacity: 0;
}

a, p {
  margin-bottom: 0;
  text-decoration: none !important;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
}

img, svg {
  width: 100%;
  height: 100%;
  display: block;
}

.container, .container-fluid {
  z-index: 5;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.slick-slide {
  outline: none !important;
}

.nav_toggle {
  cursor: pointer;
  padding-left: 1.25em;
  position: absolute;
  width: 32px;
  height: 24px;
}

.toggle_menu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 2px solid #000;
  width: 100%;
  transition: 0.2s;
}

.bar_top {
  top: 0;
}

.bar_mid {
  top: 9px;
}

.bar_bot {
  top: 18px;
}

.bar_top_click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 5px;
  transform: rotate(50deg);
  transition: 0.2s 0.2s;
}

.bar_mid_click {
  opacity: 0;
}

.bar_bot_click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 5px;
  transform: rotate(-410deg);
  transition: 0.2s 0.2s;
}

.main-block {
  padding-top: 110px;
  position: relative;
}

.main-block-bg {
  background: url("/img/bg-1.svg") left top -50px/contain no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.main-block_wrap {
  padding: 157px 0 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -110px;
}

.main-block_right_col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-block_right_col .main-block_img_wrap {
  max-width: 500px;
  display: flex;
}
.main-block_right_col .main-block_img_wrap .main-block_img_wrap_col_left {
  flex: 1 1 39%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  align-self: stretch;
}
.main-block_right_col .main-block_img_wrap .main-block_img_wrap_col_right {
  flex: 1 1 61%;
  margin-left: 20px;
  min-height: 100%;
}
.main-block_right_col .main-block_img_wrap .img_1 {
  max-height: 340px;
  margin-bottom: 20px;
}
.main-block_right_col .main-block_img_wrap .img_2 {
  max-height: 220px;
}
.main-block_right_col .main-block_img_wrap .img_3 {
  max-height: 580px;
  height: 100%;
}

.main-block_left_col .main-block_right_col {
  flex: 1 1 50%;
}

.main-block_subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.main-block_title {
  font-weight: 700;
  font-size: 56px;
  margin: 12px 0 30px;
  color: #000;
}

.main-block_text {
  max-width: 520px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-bottom: 49px;
}

.main-block_right_col {
  margin-left: auto;
}

@media (max-width: 1024px) {
  .main-block_right_col {
    display: none;
    max-width: 530px;
    margin: 0 auto;
  }
}
@media (max-width: 789px) {
  .main-block-bg {
    background: url("/img/mobile-bg-1.svg") left top no-repeat;
  }

  .main-block_wrap {
    display: block;
    padding: 90px 0 50px;
    margin-top: -60px;
  }

  .main-block_title {
    margin: 8px 0 15px;
    font-size: 26px;
  }

  .main-block_subtitle {
    font-size: 12px;
  }

  .main-block_text {
    font-size: 14px;
    margin: 0;
  }

  .main-block_btn {
    margin: 20px 0 30px;
  }

  .main-block_right_col {
    display: block;
    width: 100%;
    height: auto;
  }
}
.about_us {
  padding: 80px 0 100px;
}

.about_us-bg {
  background: url("/img/bg-9.svg") left center no-repeat, url("/img/bg-10.svg") right center no-repeat;
}

.about_us_title {
  text-align: center;
  font-size: 48px;
  color: #000;
  font-weight: 700;
  margin-bottom: 40px;
}

.about_us_wrap {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  width: 85%;
  margin: 0 auto;
}
.about_us_wrap img {
  border-radius: 16px;
}
.about_us_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.about_us_wrap.active iframe {
  display: block;
}
.about_us_wrap .about_us_play_btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92px;
  height: 46px;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .about_us_title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .about_us {
    padding: 0 0 40px;
  }

  .about_us-bg {
    background: url("/img/mobile-bg-9.svg") left center no-repeat, url("/img/mobile-bg-10.svg") right center no-repeat;
  }

  .about_us_wrap {
    background: none;
  }
}
.about_company.founder {
  background: url("/img/bg-23.svg") left bottom no-repeat;
  margin-bottom: 60px;
}

.about_company_wrap {
  display: flex;
  margin-bottom: 20px;
}

.about_company_left_col img {
  width: 100%;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.about_company_right_col {
  flex: 0 1 730px;
  padding: 60px 80px;
  align-self: flex-end;
  border: 2px solid #4B7FDB;
  border-radius: 16px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.about_company_right_col .about_company_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.about_company_right_col .about_company_footer .link {
  text-decoration: underline;
}
.about_company_right_col .about_company_footer .link:hover {
  color: blue;
}

.about_company_title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
}

.about_company_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.about_company_text:last-child {
  margin: 0;
}

@media (max-width: 1330px) {
  .about_company_left_col img {
    border-bottom-left-radius: 0;
  }

  .about_company_right_col {
    padding: 30px 20px;
  }

  .about_company_title {
    margin-bottom: 20px;
  }

  .about_company_text {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .about_company_wrap {
    display: block;
  }

  .about_company_left_col {
    max-width: 50%;
    margin-bottom: -1px;
  }

  .about_company_right_col {
    border-left: 2px solid #4B7FDB;
    border-bottom-left-radius: 16px;
  }
}
@media (max-width: 789px) {
  .about_company_left_col {
    max-width: 100%;
    margin-bottom: -80px;
  }
  .about_company_left_col img {
    border-bottom-left-radius: 80px;
  }

  .about_company_right_col {
    padding: 100px 20px 20px;
  }

  .about_company_title {
    font-size: 26px;
  }

  .about_company_text {
    font-size: 14px;
    line-height: 20px;
  }
}
.benefits {
  background: url("/img/bg-2.svg") right top no-repeat, url("/img/bg-3.svg") left bottom no-repeat;
  padding: 140px 0 160px;
}
.benefits.for_whom {
  padding: 60px 0;
  background: none;
}
.benefits.benefits_franchise {
  margin-top: 60px;
  background: url("/img/bg-20.svg") left center/contain no-repeat;
}

.benefits_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
  text-align: center;
}

.benefits_wrap {
  display: flex;
}

.benefits_item {
  flex: 1 1 33.333%;
  margin: 0 15px;
}
.benefits_item .img-wrap {
  padding: 15px;
}

.benefits_item_icon {
  width: 37px;
  height: 40px;
}

.benefits_item_title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-top: 20px;
}

.benefits_item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

@media (max-width: 789px) {
  .benefits {
    background: url("/img/bg-2.svg") right top no-repeat, url("/img/bg-3.svg") left bottom no-repeat;
  }
  .benefits.benefits_franchise {
    background: none;
    margin-top: 0;
  }

  .benefits_title {
    font-size: 26px;
  }

  .benefits_wrap {
    display: block;
  }

  .benefits_item {
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .benefits_item:last-child {
    margin-bottom: 0;
  }
}
.trial-lesson {
  background-color: #FCEC45;
  padding: 60px 0;
}

.tiral-lesson-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trial-lesson-title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}

@media (max-width: 1330px) {
  .trial-lesson-title {
    font-size: 38px;
  }
}
@media (max-width: 1024px) {
  .trial-lesson-title {
    font-size: 28px;
  }

  .trial-lesson {
    padding: 50px 0 40px;
  }
}
@media (max-width: 789px) {
  .tiral-lesson-wrap {
    display: block;
    text-align: center;
  }

  .trial-lesson-title {
    white-space: normal;
    margin-bottom: 20px;
  }
}
.services.story {
  background: url("/img/bg-27.png") left 20px top 40px no-repeat;
}

.services_wrap {
  padding: 120px 0;
}

.services_item {
  display: flex;
  align-items: center;
}
.services_item:last-child {
  margin-bottom: 0;
}

.services_item_col {
  flex: 1 1 50%;
  margin: 0 15px;
}
.services_item_col.order_2 {
  order: 2;
}
.services_item_col.order_1 {
  order: 1;
}

.services_item_img {
  border-radius: 16px;
  overflow: hidden;
}
.services_item_img.pink {
  box-shadow: -20px 20px 0px 0px #FEDEDE;
  margin-left: 20px;
}
.services_item_img.purple {
  box-shadow: 20px 20px 0px 0px #ECDEFE;
  margin-right: 20px;
}
.services_item_img.yellow {
  box-shadow: -20px 20px 0px 0px #ECDEFE;
  margin-left: 20px;
}
.services_item_img.blue {
  box-shadow: 20px 20px 0px 0px #E0F8EF;
  margin-right: 20px;
}

.services_item_description {
  padding: 60px 0 60px 60px;
}

.services_item_description_title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 700;
}

.services_item_description_text {
  max-width: 580px;
  font-size: 16px;
  color: #000;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .services_item_description {
    padding: 30px 0 30px 30px;
  }

  .services_item_description_text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .services_item_description_title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
@media (max-width: 789px) {
  .services_item {
    display: block;
  }

  .services_item_description {
    padding: 30px 0 20px;
  }

  .services_wrap {
    padding: 50px 0;
  }
}
.teachers {
  background: url("/img/bg-4.svg") left top -80px no-repeat;
  padding-bottom: 90px;
}

.teachers_title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 38px;
}

.teachers_wrapper {
  padding: 120px 0 90px;
  overflow: hidden;
}

.teacher_item {
  text-align: center;
  border-radius: 16px;
  border: 1px solid #4B7FDB;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.tieacher_item_img {
  margin-top: -108px;
  overflow: hidden;
  max-height: 238px;
  width: auto;
  -webkit-clip-path: circle(20% at 50% 50%);
          clip-path: circle(20% at 50% 50%);
  transform: scale(2);
  flex: 1 1 100%;
}
.tieacher_item_img img {
  margin: auto auto;
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
}

.teacher_item_name {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin: 20px 0 12px;
}

.teacher_item_profile {
  font-size: 12px;
  font-weight: 400;
  color: black;
  margin: 12px 0;
}

.teacher_item_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 789px) {
  .teachers {
    background: url("/img/mobile-bg-4.svg") left top no-repeat;
  }

  .teachers_title {
    font-size: 26px;
    text-align: left;
  }
}
.reviews {
  background: url("/img/bg-5.svg") right top no-repeat;
  padding-top: 160px;
}
.reviews.course_reviews {
  background: url("/img/bg-14.svg") right 5% top no-repeat, url("/img/bg-15.svg") left 5% top no-repeat, url("/img/bg-16.svg") right 5% bottom 70px no-repeat, url("/img/bg-17.svg") left 5% bottom 70px no-repeat;
  padding: 120px 0;
}
.reviews.franchise_reviews {
  padding: 0 0 60px;
  background: url("/img/bg-18.svg") right bottom -100px no-repeat;
}

.review_title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
}

.reviews_wrapper {
  padding-bottom: 70px !important;
}

.reviews_item {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 205px;
}
.reviews_item.active .reviews_item_play-link, .reviews_item.active img {
  visibility: hidden;
}
.reviews_item.active iframe {
  display: block;
}
.reviews_item iframe {
  border-radius: 16px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews_item_play-link {
  position: absolute;
  width: 58px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 789px) {
  .reviews {
    padding-top: 50px;
    background: url("/img/mobile-bg-5.svg") right top 20px no-repeat;
  }
  .reviews.franchise_reviews {
    padding: 60px 0;
  }

  .reviews_wrapper .swiper-wrapper {
    justify-content: normal !important;
  }

  .review_title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 20px;
  }
}
.franchise {
  padding-top: 160px;
  padding-bottom: 60px;
  background: url("/img/bg-6.svg") left top 80% no-repeat;
}

.franchise_wrap {
  display: flex;
  align-items: center;
}

.franchise_img,
.franchise_description {
  flex: 1 1 50%;
}

.franchise_description {
  padding-left: 80px;
}

.franchise_description_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}

.franchise_description_text {
  font-weight: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  margin: 20px 0 30px;
}

@media (max-width: 1024px) {
  .franchise_description_title {
    font-size: 36px;
  }

  .franchise_description_text {
    font-size: 14px;
  }
}
@media (max-width: 789px) {
  .franchise_wrap {
    display: block;
  }

  .franchise_description {
    padding: 0;
    margin-top: 20px;
  }

  .franchise_description_title {
    font-size: 26px;
  }

  .franchise_description_text {
    font-size: 14px;
    margin: 15px 0 20px;
  }

  .franchise {
    background: url("/img/mobile-bg-6.svg") left top 30px no-repeat;
    padding: 50px 0;
  }
}
.galery {
  padding-bottom: 160px;
  padding-top: 160px;
  margin-top: -60px;
  background: url("/img/bg-7.svg") right top no-repeat, url("/img/bg-8.svg") left bottom 20px no-repeat;
}

.galery_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.galery_wrapper {
  padding-bottom: 70px !important;
}
.galery_item {
  border-radius: 16px;
  height: 240px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.galery_item img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .galery {
    background: url("/img/bg-7.svg") right top 60px no-repeat, url("/img/bg-8.svg") left bottom 20px no-repeat;
  }
}
@media (max-width: 789px) {
  .galery_title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 20px;
  }

  .galery {
    background: none;
  }
}
.modal_bg {
  padding: 0 10px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: red;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
.modal_bg.active {
  visibility: visible;
  opacity: 1;
}

.modal_box {
  text-align: center;
  padding: 90px 100px 100px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  display: none;
}
.modal_box.active {
  display: block;
  visibility: visible;
  opacity: 1;
}
.modal_box.modal_3 {
  padding: 0;
}
.modal_box.modal_3 .modal_close_btn {
  top: 15px;
  right: 15px;
}

.modal_close_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal_title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.modal_subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 30px;
  color: #000;
  text-align: center;
}

.galery_modal_img {
  width: 100%;
  height: 500px;
}
.galery_modal_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal_form.error .form_error_message {
  display: block;
}
.modal_form .form_error_message {
  display: none;
  margin-bottom: 8px;
  color: red;
}

.input_box {
  margin-bottom: 20px;
}
.input_box .input_errpor_message {
  display: none;
}
.input_box.error input {
  color: #F85A5A;
  border-color: #F85A5A;
}
.input_box.error input::-moz-placeholder {
  color: #F85A5A;
}
.input_box.error input::placeholder {
  color: #F85A5A;
}
.input_box.error .input_errpor_message {
  display: block;
  color: #F85A5A;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}
.input_box input {
  padding: 17px 20px 15px 20px;
  border: 1px solid #CECECE;
  border-radius: 8px;
  width: 220px;
}
.input_box input::-moz-placeholder {
  color: #CECECE;
}
.input_box input::placeholder {
  color: #CECECE;
}
.input_box input:focus {
  border-color: #E3D53E;
}
.input_box.city {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 8px;
}
.input_box.city img {
  width: 16px;
  height: 12px;
  margin-right: 8px;
}
.input_box.city:hover .header_nav_item_sublist_wrap {
  transition: all 0.1s linear;
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 32px rgba(156, 155, 162, 0.26);
}
.input_box.city:hover .header_nav_item_sublist_wrap .header_nav_item_sublist {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  width: 100%;
}
.input_box.city:hover .header_nav_item_sublist_wrap .header_nav_item_sublist li {
  transition: all 0.1s linear;
}
.input_box.city:hover .header_nav_item_sublist_wrap .header_nav_item_sublist li:hover {
  background-color: #CECECE;
}
.input_box.city .header_nav_item_sublist_wrap {
  width: 220px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 240px;
  top: 0;
  padding-top: 25px;
}

.modal_btn {
  max-width: 320px;
  width: 100%;
}

@media (max-width: 789px) {
  .modal_box {
    padding: 30px 20px 40px;
  }

  .modal_title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }

  .modal_subtitle {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px;
  }

  .input_box {
    margin-bottom: 12px;
  }

  .modal_close_btn {
    top: 12px;
    right: 12px;
  }
}
.about_course {
  padding: 100px 0 200px;
  background: url("/img/bg-11.svg") right center/contain no-repeat;
}

.about_course_wrap {
  display: flex;
  align-items: center;
}

.about_course_col {
  flex: 1 1 50%;
  padding-right: 70px;
}

.about_course_info {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.about_course_slash {
  margin: 0 15px;
}

.about_course_title {
  margin: 12px 0 30px;
  font-size: 56px;
  font-weight: 700;
  color: #000;
}

.about_course_text {
  max-width: 520px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 24px;
  margin-bottom: 30px;
}

.about_course_cost {
  margin: 30px 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.about_course_btn {
  margin-top: 40px;
}

@media (max-width: 789px) {
  .about_course {
    padding: 60px 0;
  }

  .about_course_wrap {
    display: block;
    align-items: center;
  }

  .about_course_col {
    padding: 0;
  }

  .about_course_info {
    margin-top: 20px;
  }

  .about_course_slash {
    margin: 0 15px;
  }

  .about_course_title {
    font-size: 40px;
    margin: 15px 0 20px;
  }

  .about_course_cost {
    margin: 15px 0 20px;
    font-size: 25px;
  }
}
.course_program {
  padding: 60px 0 120px;
  background: url("/img/bg-12.svg") right top 60px no-repeat, url("/img/bg-13.svg") left bottom 60px no-repeat;
}

.course_program_wrap {
  text-align: center;
}

.course_program_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}

.course_program_accordeon {
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
}

.corse_program_item {
  padding: 20px 0;
  border-bottom: 1px solid #CECECE;
}
.corse_program_item.active .course_program_item_text {
  height: auto;
  transform: scale(1);
  transition: all 0.3s linear;
}
.corse_program_item.active .course_program_item_title:after {
  width: 11px;
  height: 2px;
  background: url("/img/minus.svg") no-repeat;
}

.course_program_item_title {
  cursor: pointer;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  position: relative;
}
.course_program_item_title:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: 0;
  width: 11px;
  height: 11px;
  background: url("/img/plus.svg") no-repeat;
}

.course_program_item_text {
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  transform: scale(0);
  height: 0;
  font-size: 16px;
  transition: all 0.1s linear;
  overflow: hidden;
}

.course_program_btn {
  margin-top: 20px;
}

@media (max-width: 789px) {
  .course_program_title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .corse_program_item {
    padding: 15px 0;
  }

  .course_program_item_title {
    font-size: 18px;
  }

  .course_program_item_text {
    font-size: 14px;
  }
}
.franchise_main_block {
  background: url("/img/franchise-main.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 142px 0;
}

.franchise_main_wrap {
  text-align: center;
}

.franchise_main_title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
}

.franchise_main_text {
  margin: 30px auto 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  max-width: 520px;
}

.achievements {
  padding-bottom: 120px;
  background: url("/img/bg-14.svg") right 52px bottom 60px no-repeat, url("/img/bg-15.svg") left 100px bottom no-repeat;
}
.achievements.no_bg {
  background: none;
}
.achievements.CA {
  background: url("/img/bg-25.svg") right bottom 40px no-repeat, url("/img/bg-24.svg") left top no-repeat;
}
.achievements.franch .container {
  padding-top: 60px;
  background: url("/img/bg-26.png") left 52px top no-repeat;
}

.achievements_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.achievements_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.achievement_item {
  flex: 0 1 20%;
  margin-right: 15px;
}
.achievement_item:last-child {
  margin: 0;
}
.achievement_item.long {
  flex: 0 1 33.333%;
}

.achievement_title {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}
.achievement_title span {
  background-color: #FCEC45;
}

.achievement_text {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

@media (max-width: 1024px) {
  .achievement_title {
    font-size: 25px;
  }
}
@media (max-width: 789px) {
  .achievements {
    padding-bottom: 60px;
  }

  .achievements_wrap {
    display: block;
  }

  .achievements_title {
    font-size: 26px;
    margin-bottom: 20px;
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .achievement_item {
    max-width: 234px;
    margin: 15px 0;
  }
  .achievement_item:last-child {
    margin: 15px 0;
  }
  .achievement_item.long {
    max-width: 380px;
  }
}
.title_block.investments {
  padding-top: 120px;
}

.title_block_wrap {
  display: flex;
  align-items: flex-start;
}

.title_block_col {
  flex: 1 1 50%;
}

.title_block_title {
  font-weight: 700;
  font-size: 60px;
  color: #000;
  margin-bottom: 35px;
}

.tilte_block_subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.title_block_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

@media (max-width: 789px) {
  .title_block.investments {
    padding-top: 60px;
  }
  .title_block.investments .title_block_wrap {
    text-align: center;
  }

  .title_block_title {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .title_block_col {
    flex: 1 1 100%;
  }
  .title_block_col:last-child {
    display: none;
  }
}
.franch-packet {
  padding-bottom: 120px;
  background: url("/img/bg-19.svg") left bottom no-repeat;
}

.franch-packet_list {
  display: flex;
  flex-wrap: wrap;
}

.franch-packet_item {
  flex: 0 1 50%;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.franch-packet_item:nth-child(odd) .franch-packet_item_wrap {
  margin-right: 30px;
}
.franch-packet_item span {
  margin-right: 20px;
  font-size: 24px;
  font-weight: 700;
  background-color: #FCEC45;
  min-width: 34px;
  display: inline-flex;
  justify-content: center;
  margin-bottom: auto;
}

.franch-packet_item_wrap {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #CECECE;
}

.franch-packet_checkbox {
  display: flex;
  margin-top: 20px;
}

.franch-packet_checkbox_item {
  flex: 1 1 33.333%;
  display: flex;
  margin-right: 20px;
}

.franch-packet_checkbox_img {
  padding: 7px 6px;
  flex: 0 0 34px;
  height: 30px;
  background-color: #FCEC45;
  margin-right: 20px;
}

.franch-packet_checkbox_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #000;
}

@media (max-width: 789px) {
  .franch-packet_item {
    flex: 1 1 100%;
  }

  .franch-packet_item:nth-child(odd) .franch-packet_item_wrap {
    margin: 0;
  }

  .franch-packet_checkbox {
    display: block;
  }

  .franch-packet_checkbox_item {
    margin-bottom: 15px;
  }
  .franch-packet_checkbox_item:last-child {
    margin: 0;
  }
}
.investments-table {
  margin: 20px 0 0;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.investments-table tr {
  text-align: center;
  margin: 0 1px;
}
.investments-table tr.title {
  background-color: #FCEC45;
  margin: 0;
}
.investments-table tr.title td {
  border-color: #FCEC45;
}
.investments-table tr.title td.th {
  -moz-text-align-last: left;
       text-align-last: left;
}
.investments-table tr.subtitle td {
  border-top: none;
}
.investments-table tr.buttons td {
  border: none;
}
.investments-table tr td, .investments-table tr th {
  padding: 17px 20px 14px;
  border: 1px solid #CECECE;
  max-width: 320px;
}
.investments-table tr td:first-child, .investments-table tr th:first-child {
  min-width: 235px;
}
.investments-table tr td:not(:first-child), .investments-table tr th:not(:first-child) {
  white-space: nowrap;
}
.investments-table tr th {
  font-size: 18px;
  font-weight: 400;
  -moz-text-align-last: left;
       text-align-last: left;
}

.investments-table-wrap {
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 789px) {
  .investments-table-wrap {
    overflow-x: scroll;
  }
}
.franchise-start {
  padding: 120px 0;
  background: url("/img/bg-22.svg") right top no-repeat;
}

.franchise-start_title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.franchise-start_wrap {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
}

.franchise-start_item {
  flex: 0 1 33.333%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.franchise-start_item_step {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}

.franchise-start_item_title {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.franchise-start_item_title_text {
  font-weight: 700;
  font-size: 24px;
  color: black;
  background-color: #FCEC45;
}

.franchis-start_item_title_arrow {
  width: 52px;
  height: 24px;
}

.franchise-start_item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

@media (max-width: 789px) {
  .franchise-start_item {
    flex: 1 1 100%;
  }

  .franchis-start_item_title_arrow {
    transform: rotate(90deg);
  }
}
.select {
  position: relative;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.select.error .select__toggle {
  border-color: red;
}
.select.error .input_errpor_message {
  display: block;
}
.select .input_errpor_message {
  display: none;
  margin-top: 8px;
  font-size: 12px;
  color: red;
}

.select__toggle {
  display: flex;
  background-color: #fff;
  border: 1px solid #CECECE;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  width: 220px;
  font-size: 12px;
  padding: 17px 0.75rem;
  line-height: 1.4;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  justify-content: space-between;
}

.select__toggle::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
}

.select__toggle:focus {
  outline: none;
}

.select_show .select__toggle::after {
  transform: rotate(180deg);
}

.select__dropdown {
  display: none;
  position: absolute;
  top: 2.9rem;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  z-index: 2;
  background-color: #fff;
}

.select_show .select__dropdown {
  display: block;
}

.select_show .select__backdrop {
  display: block;
}

.select__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.select__option {
  padding: 10px 5px;
  font-size: 12px;
  color: #000;
  text-align: left;
}

.select__option_selected {
  background-color: #e1f5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select__option_selected::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  color: #0277bd;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
}

.select__option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

html {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Geometria";
  height: 100vh;
  position: relative;
}
body.no_scroll {
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #FCEC45;
  border-radius: 3px;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: clip;
  position: relative;
}

section {
  position: relative;
  overflow: hidden;
}

.paralax-bg {
  position: absolute;
  width: 110%;
  height: 110%;
  transition: all 0.1s ease;
}

#main-page {
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;
}
.container.table {
  overflow: auto;
}

.swiper-container {
  width: 100%;
}

.swiper-pagination.teachers {
  padding: 0;
  background: none;
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  background-color: #CECECE !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #FCEC45 !important;
}

.swiper-slide.teacher_item {
  height: auto !important;
}
.swiper-slide.galery_item {
  height: 240px !important;
}

:root {
  --swiper-theme-color: $black;
}

.default-select {
  width: 100%;
}

.swiper-buttons_wrap .swiper-buttons {
  width: 268px;
  margin: 0 auto;
  position: relative;
  bottom: -70px;
}
.swiper-buttons_wrap .swiper-buttons .swiper-button-prev, .swiper-buttons_wrap .swiper-buttons .swiper-button-next {
  top: auto;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: #FCEC45;
  border-radius: 50%;
}
.swiper-buttons_wrap .swiper-buttons .swiper-button-next:after {
  content: "" !important;
  background: url("/img/swiper-arrow-next.svg") top 12px left 17px no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.swiper-buttons_wrap .swiper-buttons .swiper-button-prev:after {
  content: "" !important;
  background: url("/img/swiper-arrow-prev.svg") top 12px left 15px no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
  color: #000;
}
a:active {
  color: #000;
}
a:hover {
  color: #000;
}

.no-pl {
  padding-left: 0;
}

.btn_type_1, .modal_btn {
  padding: 13px 30px 15px 30px;
  background-color: #FCEC45;
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.btn_type_1:hover, .modal_btn:hover {
  transition: background-color 0.1s linear;
  background-color: #E3D53E;
}

.btn_type_2 {
  padding: 13px 30px 15px 30px;
  background-color: #000;
  border-radius: 8px;
  color: #FCEC45;
  font-size: 16px;
  font-weight: 400;
}
.btn_type_2:hover {
  transition: background-color 0.1s linear;
  background-color: #414141;
}

.img-wrap {
  border: 15px solid white;
  -o-border-image: url("/img/img-wrap.png") 30 fill/15px stretch;
     border-image: url("/img/img-wrap.png") 30 fill/15px stretch;
  height: 100%;
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: 789px) {
  .swiper-pagination {
    width: 268px !important;
  }
  .swiper-pagination.teachers {
    width: 288px !important;
    bottom: 30px !important;
  }

  .btn_type_1,
.btn_type_2 {
    font-size: 12px;
  }

  .swiper-buttons_wrap .swiper-buttons {
    margin: 0;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 268px;
  }

  .no-pading-mobile {
    padding: 0;
  }
}
.animate_title {
  overflow: hidden;
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.25, 1);
}

[data-aos=flip-custom] {
  transform: skewX(45deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=flip-custom].aos-animate {
  transform: skewX(0);
  opacity: 1;
}

[data-aos=clip-square] {
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
          clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}
[data-aos=clip-square].aos-animate {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

[data-aos=clip-bottom] {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}
[data-aos=clip-bottom].aos-animate {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

[data-aos=clip-top] {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translateY(100%);
  transition-property: transform, -webkit-clip-path;
  transition-property: clip-path, transform;
  transition-property: clip-path, transform, -webkit-clip-path;
}
[data-aos=clip-top].aos-animate {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
  transform: translateY(0);
}

[data-aos=clip-top-50] {
  transform: translateY(60px);
  transition-property: position, transform, opacity;
}
[data-aos=clip-top-50].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos=clip-top-10] {
  transform: translateX(-100px);
  transition-property: transform, -webkit-clip-path;
  transition-property: transform, clip-path;
  transition-property: transform, clip-path, -webkit-clip-path;
}
[data-aos=clip-top-10].aos-animate {
  transition-property: transform, -webkit-clip-path;
  transition-property: transform, clip-path;
  transition-property: transform, clip-path, -webkit-clip-path;
  transform: translateX(0px);
}

[data-aos=clip-right] {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition-property: transform, -webkit-clip-path;
  transition-property: clip-path, transform;
  transition-property: clip-path, transform, -webkit-clip-path;
}
[data-aos=clip-right].aos-animate {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

[data-aos=clip-left] {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition-property: transform, -webkit-clip-path;
  transition-property: clip-path, transform;
  transition-property: clip-path, transform, -webkit-clip-path;
}
[data-aos=clip-left].aos-animate {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

[data-aos=slide-up] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity, transform;
}
[data-aos=slide-up].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos=fade-up-new] {
  transform: translateY(0);
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos=fade-up-new].aos-animate {
  transform: translateY(-20px);
  opacity: 1;
}

[data-aos=skew-right-50] {
  opacity: 0;
  transform: translate(-150px);
  transition-property: transform, opacity;
}
[data-aos=skew-right-50].aos-animate {
  opacity: 1;
  transform: translateX(0px);
}

body[data-aos-duration="4000"] [data-aos], [data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}

[data-aos][data-aos][data-aos-delay="20"].aos-animate,
body[data-aos-delay="20"] [data-aos].aos-animate {
  transition-delay: 20ms;
}

[data-aos][data-aos][data-aos-delay="40"].aos-animate,
body[data-aos-delay="40"] [data-aos].aos-animate {
  transition-delay: 40ms;
}

[data-aos][data-aos][data-aos-delay="60"].aos-animate,
body[data-aos-delay="60"] [data-aos].aos-animate {
  transition-delay: 60ms;
}

[data-aos][data-aos][data-aos-delay="80"].aos-animate,
body[data-aos-delay="80"] [data-aos].aos-animate {
  transition-delay: 80ms;
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 100ms;
}

[data-aos][data-aos][data-aos-delay="120"].aos-animate,
body[data-aos-delay="120"] [data-aos].aos-animate {
  transition-delay: 120ms;
}

[data-aos][data-aos][data-aos-delay="140"].aos-animate,
body[data-aos-delay="140"] [data-aos].aos-animate {
  transition-delay: 140ms;
}

[data-aos][data-aos][data-aos-delay="160"].aos-animate,
body[data-aos-delay="160"] [data-aos].aos-animate {
  transition-delay: 160ms;
}

[data-aos][data-aos][data-aos-delay="180"].aos-animate,
body[data-aos-delay="180"] [data-aos].aos-animate {
  transition-delay: 180ms;
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 200ms;
}

[data-aos][data-aos][data-aos-delay="220"].aos-animate,
body[data-aos-delay="220"] [data-aos].aos-animate {
  transition-delay: 220ms;
}

[data-aos][data-aos][data-aos-delay="240"].aos-animate,
body[data-aos-delay="240"] [data-aos].aos-animate {
  transition-delay: 240ms;
}

[data-aos][data-aos][data-aos-delay="260"].aos-animate,
body[data-aos-delay="260"] [data-aos].aos-animate {
  transition-delay: 260ms;
}

[data-aos][data-aos][data-aos-delay="280"].aos-animate,
body[data-aos-delay="280"] [data-aos].aos-animate {
  transition-delay: 280ms;
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: 300ms;
}

[data-aos][data-aos][data-aos-delay="320"].aos-animate,
body[data-aos-delay="320"] [data-aos].aos-animate {
  transition-delay: 320ms;
}

[data-aos][data-aos][data-aos-delay="340"].aos-animate,
body[data-aos-delay="340"] [data-aos].aos-animate {
  transition-delay: 340ms;
}

[data-aos][data-aos][data-aos-delay="360"].aos-animate,
body[data-aos-delay="360"] [data-aos].aos-animate {
  transition-delay: 360ms;
}

[data-aos][data-aos][data-aos-delay="380"].aos-animate,
body[data-aos-delay="380"] [data-aos].aos-animate {
  transition-delay: 380ms;
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: 400ms;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}

.header_wrapper {
  display: flex;
  align-items: center;
  padding: 30px 0;
  width: 100%;
}

.header_logo {
  width: 95px;
  height: 80px;
  margin-right: 20px;
  cursor: pointer;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 830px;
  margin-left: auto;
}

.header_nav_item {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
}
.header_nav_item.mobile .phone {
  white-space: nowrap;
}
.header_nav_item img {
  width: 16px;
  height: 12px;
}
.header_nav_item img.arrow {
  width: 17px;
  height: 8px;
  margin-left: 8px;
  margin-bottom: -3px;
}
.header_nav_item:hover .header_nav_item_sublist_wrap {
  transition: all 0.1s linear;
  visibility: visible;
  opacity: 1;
}
.header_nav_item .header_nav_item_sublist_wrap {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  min-width: 240px;
  top: 0;
  padding-top: 25px;
}
.header_nav_item .header_nav_item_sublist {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(31, 31, 31, 0.1);
}
.header_nav_item .header_nav_item_sublist li {
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}
.header_nav_item .header_nav_item_sublist li:last-child {
  margin: 0;
}
.header_nav_item .header_nav_item_sublist li.active {
  color: #9A9A9A;
}

.header_nav_lang_item.active {
  color: #FCEC45;
}

.header_nav_lang_mobile {
  display: none;
  color: #000;
  margin-right: 30px;
}

.nav_toggle_wrap {
  display: none;
  margin-top: -23px;
}

.mobile_menu_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 108px;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 150px 0 100px;
  visibility: hidden;
}
.mobile_menu_wrapper.active {
  visibility: visible;
  transform: translateX(0);
}

.mobile_menu_nav_item {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
}

.mobile_menu_location {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  justify-self: flex-end;
  margin: auto auto 160px;
  display: flex;
  align-items: center;
  position: relative;
}
.mobile_menu_location:hover .header_nav_item_sublist_wrap {
  opacity: 1;
  visibility: visible;
}
.mobile_menu_location .header_nav_item_sublist_wrap {
  transition: all 0.1s linear;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding-bottom: 15px;
  min-width: 240px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.mobile_menu_location .header_nav_item_sublist_wrap .header_nav_item_sublist {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.mobile_menu_location .header_nav_item_sublist_wrap .header_nav_item_sublist li:not(:last-child) {
  margin-bottom: 15px;
}
.mobile_menu_location .location {
  width: 12px;
  height: 16px;
  margin-right: 8px;
}
.mobile_menu_location .arrow {
  width: 17px;
  height: 8px;
  margin-left: 8px;
}

@media (max-width: 789px) {
  .nav_toggle_wrap,
.header_logo,
.header_nav {
    flex: 1 1 33.333%;
  }

  .header_logo {
    width: 57px;
    height: 48px;
    margin-right: -7px;
  }

  .nav_toggle_wrap {
    display: block;
  }

  .header_nav {
    justify-content: flex-end;
  }

  .header_nav_item.phone span {
    display: none;
  }

  .header_nav_lang_mobile {
    display: block;
  }

  .header_nav_item {
    display: none;
  }
  .header_nav_item.phone {
    display: flex;
  }
  .header_nav_item.phone {
    order: 2;
  }
}
.footer {
  background-color: #FCEC45;
  padding: 60px 0;
}

.footer_wrap {
  display: flex;
  align-items: center;
}

.footer_col {
  flex: 1 1 50%;
}
.footer_col .trieal-lesson-btn {
  margin-bottom: 30px;
}

.footer_title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.footer_item {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.footer_contacts {
  padding-bottom: 40px;
}
.footer_contacts .footer_phone_link,
.footer_contacts .footer_time {
  display: block;
  padding-left: 26px;
  margin-bottom: 20px;
}

.footer_phone_link {
  position: relative;
}
.footer_phone_link:before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 16px;
  top: 0;
  left: 0;
  background: url("/img/phone-black.svg") center no-repeat;
}

.footer_time {
  position: relative;
}
.footer_time:before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: url("/img/clock-black.svg") center no-repeat;
}

.footer_socials {
  display: flex;
}

.footer_social_link {
  margin-right: 20px;
}

.footer_btn {
  margin: 40px 0;
}

.footer_privacy_policy:not(:last-child) {
  margin-bottom: 4px;
}
.footer_privacy_policy:last-child a {
  font-weight: 700;
}

.footer_map {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
.footer_map iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 789px) {
  .footer {
    padding: 0;
  }

  .footer_wrap {
    flex-direction: column;
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .footer_col {
    order: 2;
    padding: 30px 20px 20px;
    width: 100%;
  }
  .footer_col.map {
    order: 1;
    padding: 0;
  }

  .footer_map {
    border-radius: 0;
    background-color: white;
    width: 100%;
  }

  .footer_title {
    font-size: 26px;
  }

  .footer_item {
    font-size: 14px;
  }

  .footer_contacts {
    padding-bottom: 30px;
  }

  .footer_btn {
    margin: 0 0 15px;
  }
}