@import "../static/constants";
.footer {
	background-color: $yellow;
	padding: 60px 0;
}
.footer_wrap {
	display: flex;
	align-items: center;
}
.footer_col {
	flex: 1 1 50%;
	.trieal-lesson-btn{
		margin-bottom: 30px;
	}
}
.footer_title {
	font-size: 48px;
	font-weight: 700;
	color: $black;
	margin-bottom: 30px;
}
.footer_item {
	font-size: 16px;
	font-weight: 400;
	color: $black;
}
.footer_contacts {
	padding-bottom: 40px;
	.footer_phone_link,
	.footer_time {
		display: block;
		padding-left: 26px;
		margin-bottom: 20px;
	}

}
.footer_phone_link {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 12px;
		height: 16px;
		top: 0;
		left: 0;
		background: url("/img/phone-black.svg") center no-repeat;
	}
}
.footer_time {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		top: 0;
		left: 0;
		background: url("/img/clock-black.svg") center no-repeat;
	}
}
.footer_socials {
	display: flex;
}
.footer_social_link {
	margin-right: 20px;
}
.footer_btn {
	margin: 40px 0;
}
.footer_privacy_policy {
	&:not(:last-child){
		margin-bottom: 4px;
	}
	&:last-child{
		a{
			font-weight: 700;
		}
	}
}
.footer_map {
	border-radius: 16px;
	position: relative;
	overflow: hidden;
	iframe{
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@media (max-width: $media_789) {
	.footer {
		padding: 0;
	}
	.footer_wrap {
		flex-direction: column;
		text-align-last: left;
	}
	.footer_col {
		order: 2;
		padding: 30px 20px 20px;
		width: 100%;
		&.map {
			order: 1;
			padding: 0;
		}
	}
	.footer_map {
		border-radius: 0;
		background-color: white;
		width: 100%;
	}
  .footer_title{
    font-size: 26px;
  }
  .footer_item{
    font-size: 14px;
  }
  .footer_contacts{
    padding-bottom: 30px;
  }
	.footer_btn {
		margin: 0 0 15px;
	}
}
