@import "../static/constants.scss";
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: $white;
}
.header_wrapper {
	display: flex;
	align-items: center;
	padding: 30px 0;
  width: 100%;
}
.header_logo {
	width: 95px;
	height: 80px;
	margin-right: 20px;
    cursor: pointer;
}
.header_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 830px;
	margin-left: auto;
}

.header_nav_item {
	font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: center;
  position: relative;
  &.mobile
  .phone{
    white-space: nowrap;
  }
	img {
		width: 16px;
		height: 12px;
		//margin-right: 8px;
	}
	img.arrow {
		width: 17px;
		height: 8px;
		margin-left: 8px;
		margin-bottom: -3px;
	}
  &:hover{
    .header_nav_item_sublist_wrap{
      transition: all .1s linear;
      visibility: visible;
      opacity: 1;
    }
  }
  .header_nav_item_sublist_wrap{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    min-width: 240px;
    top: 0;
    padding-top: 25px;
  }
  .header_nav_item_sublist{
    
    padding: 20px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(31, 31, 31, 0.1);
    li{
      font-weight: 400;
      font-size: 16px;
      color: black;
      margin-bottom: 15px;
      &:last-child{
        margin: 0;
      }
      &.active{
        color: $lightGray;
      }
    }
  }
}
.header_nav_lang_item {
	&.active {
		color: $yellow;
	}
}
.header_nav_lang_mobile {
	display: none;
	color: $black;
  margin-right: 30px;
}
.nav_toggle_wrap{
  display: none;
  margin-top: -23px;
}
.mobile_menu_wrapper{
  width: 100%;
  height: 100vh;
  background-color: $white;
  position: absolute;
  top: 108px;
  left: 0;
  transform: translateX(-100%);
  transition: transform .2s linear;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 150px 0 100px;
  visibility: hidden;
  &.active{
    visibility: visible;
    transform: translateX(0);
  }
}
.mobile_menu_nav{
}
.mobile_menu_nav_item{
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: $black;
  margin-bottom: 30px;
}
.mobile_menu_location{
  font-size: 16px;
  font-weight: 400;
  color: $black;
  justify-self: flex-end;
  margin: auto auto 160px;
  display: flex;
  align-items: center;
  position: relative;
  &:hover{
    .header_nav_item_sublist_wrap{
      opacity: 1;
      visibility: visible;
    }
  }
  .header_nav_item_sublist_wrap{
    transition: all .1s linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding-bottom: 15px;
    min-width: 240px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    .header_nav_item_sublist{
      background: $white;
      border-radius: 8px;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      li{
        &:not(:last-child){
          margin-bottom: 15px;
        }
      }
    }
  }
  .location{
    width: 12px;
    height: 16px;
    margin-right: 8px;
  }
  .arrow{
    width: 17px;
    height: 8px;
    margin-left: 8px;
  }
}
@media (max-width: $media_789) {
  .header_wrapper{
    //margin-top: 12px;
  }
  .nav_toggle_wrap,
  .header_logo,
  .header_nav{
    flex: 1 1 33.333%;
  }
  .header_logo{
    width: 57px;
    height: 48px;
    margin-right: -7px;
  }
  .nav_toggle_wrap{
    display: block;
  }
	.header_nav {
		justify-content: flex-end;
	}
  .header_nav_item{
    &.phone{
      span{
        display: none;
      }
    }
  }
  .header_nav_lang_mobile {
    display: block;
  }
	.header_nav_item {
		display: none;
		&.phone {
			display: flex;
		}
		&.phone {
			order: 2;
		}
	}
}
