$black: #000;
$white: #fff;
$yellow: #FCEC45;
$darkYellow: #E3D53E;
$media_789: 789px;
$media_1330: 1330px;
$media_1024: 1024px;
$blue: #4B7FDB;
$darkGray: #414141;
$gray: #CECECE;
$red: #F85A5A;
$lightGray: #9A9A9A;
$lightPink: #FEDEDE;
$lightPurple: #ECDEFE;
$lightYellow: #ECDEFE;
$lightBlue: #E0F8EF;
