/* INCLUDE FONTS HERE */
@font-face {
    font-family: 'Geometria';
    src: url('/fonts/Geometria-Regular.eot');
    src: url('/fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Geometria-Regular.woff') format('woff'),
        url('/fonts/Geometria-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geometria';
    src: url('/fonts/Geometria-Bold.eot');
    src: url('/fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Geometria-Bold.woff') format('woff'),
        url('/fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}