@charset "UTF-8";
#adminButtonEdit {
  position: fixed;
  right: 20px;
  bottom: 30px;
  border-radius: 0;
}

.blue {
  color: #2977d0;
}

.red {
  color: red;
}

.white {
  color: white;
}

.bg-gradient, .hr2, .hr {
  background: linear-gradient(to right, #000ead 0%, #90035e 100%);
}

.hr {
  height: 1px;
}

.hr2 {
  height: 2px;
}

.img-float-space {
  margin-right: 10px;
  margin-bottom: 10px;
}
.img-float-space.m20 {
  margin-top: 20px;
  margin-right: 20px;
}

.check-styled {
  display: inline-block;
  width: 80px;
  height: 26px;
  background: #333;
  margin: 2px auto;
  position: relative;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
}
.check-styled:after {
  content: "\41D\435\442";
  color: #fff;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.check-styled:before {
  content: "\414\430";
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.check-styled.en:before {
  content: "Yes";
}
.check-styled.en:after {
  content: "No";
}
.check-styled.ru:before {
  content: "\414\430";
}
.check-styled.ru:after {
  content: "\41D\435\442";
}
.check-styled.uk:before {
  content: "\422\430\43A";
}
.check-styled.uk:after {
  content: "\41Di";
}
.check-styled label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #f4eeee;
  border-radius: 1px;
  transition: all 0.4s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.check-styled input[type=checkbox] {
  visibility: hidden;
}
.check-styled input[type=checkbox]:checked + label {
  left: 43px;
}

.no-radius {
  border-radius: 0;
}

.main-content {
  min-height: 600px;
}

.db {
  display: block;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.table.table-unbordered {
  border: 0;
}
.table.table-unbordered > tbody tr {
  border: 0;
}
.table.table-unbordered > tbody tr > td {
  border: 0;
}

.abs-both-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-wide {
  padding-left: 3rem;
  padding-right: 3rem;
}

.lh-1 {
  line-height: 1;
}

.vam {
  vertical-align: middle;
}

.vab {
  vertical-align: bottom;
}

.vat {
  vertical-align: top;
}

.scalable:hover {
  transform: scale(1.1);
}

.transition-all {
  transition: all 0.2s linear;
}

.text-decorated {
  text-decoration: underline;
}

.text-decorated-hover:hover {
  text-decoration: underline;
}

.draggable .handle {
  cursor: pointer;
}
.draggable .handle i {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.img-thumbnail-30 {
  max-width: 30px;
}

.img-thumbnail-40 {
  max-width: 40px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav > li.disabled > a {
  color: #777;
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus, .nav-tabs > li > a.active:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}
.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li > a.active, .nav-pills > li > a.active:focus, .nav-pills > li > a.active:hover {
  color: #fff;
  background-color: #337ab7;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pagin .pagin-arrow.pagin-prev {
  transform: rotate(180deg);
}
.pagin .pagin-num {
  padding: 6px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
  position: relative;
}
.pagin .pagin-num::after {
  content: "";
  width: 0;
  height: 10px;
  background-color: #09b3af;
  position: absolute;
  bottom: 7px;
  left: 0;
  opacity: 0.3;
  transition: all 0.3s ease-out;
}
.pagin .pagin-num:hover {
  color: black;
}
.pagin .pagin-num:hover::after {
  width: 20px;
}
.pagin .pagin-num_active::after {
  width: 20px;
}

.pagination {
  width: 100%;
  max-width: 315px;
  margin: 0 auto;
}
.pagination .pag_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination .pag_container .pag_item {
  display: flex;
  flex-direction: row;
  margin-right: 18px;
}
.pagination .pag_container .pag_item.disabled a i {
  border: solid black;
  border-width: 0 2px 2px 0;
}
.pagination .pag_container .pag_item:last-child {
  margin-right: 0;
}
.pagination .pag_container .pag_item.active a {
  color: #bf9e70;
  text-decoration: underline;
}
.pagination .pag_container .pag_item a, .pagination .pag_container .pag_item span {
  display: flex;
  flex-direction: row;
  color: #141924;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.9px;
  padding-right: 5px;
  padding-left: 5px;
}
.pagination .pag_container .pag_item a i, .pagination .pag_container .pag_item span i {
  border: solid #bf9e70;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}
.pagination .pag_container .pag_item a i.left, .pagination .pag_container .pag_item span i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.pagination .pag_container .pag_item a i.right, .pagination .pag_container .pag_item span i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: white !important;
}

.bootstrap-select .dropdown-menu {
  max-height: 400px;
}

/* Nestable*/
.menu.dd {
  max-width: 900px;
}
.menu .dd-list .dd-list {
  padding-left: 45px;
}
.menu .dd-list .dd-handle {
  border-radius: 0;
}

/* End Nestable*/
* {
  border-radius: 0;
}

html {
  scrollbar-width: thin;
}

.adminMenu {
  border-right: 3px solid #0d3625;
}
.adminMenu .nav-pills > li > a {
  border-radius: 0;
  font-weight: bold;
  font-size: 16px;
}

.preview {
  position: absolute;
  right: 30px;
  top: 60px;
}

.localisation-block {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 35px;
  z-index: 5;
}

.image-actions {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.image-actions .get-crop-btn, .image-actions .delete-image-btn, .image-actions .handle {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 5px;
  background-color: #fffc;
}
.image-actions .get-crop-btn {
  left: 0;
}
.image-actions .delete-image-btn {
  right: 0;
}
.image-actions .handle {
  top: auto;
  bottom: 0;
  left: 0;
}
.image-actions:hover .get-crop-btn, .image-actions:hover .delete-image-btn, .image-actions:hover .handle {
  opacity: 1;
}

.cropWrapperModal .modal-dialog {
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.dropdownMenu .drop-item {
  position: relative;
}
.dropdownMenu .drop-item:hover > .drop-block {
  top: 0;
  opacity: 1;
}
.dropdownMenu li:not(.nav-item) {
  width: 100%;
  position: relative;
  line-height: 1;
  list-style-type: none;
  border-left: 1px solid;
  border-top-width: 0;
}
.dropdownMenu li:not(.nav-item):first-of-type {
  border-top-width: 1px;
}
.dropdownMenu li:not(.nav-item):hover > a {
  color: #fff;
  background: #3c4858;
}
.dropdownMenu li:not(.nav-item) a {
  margin: 0 !important;
  border-radius: 0 !important;
  display: block;
  text-decoration: none;
  text-align: left;
  box-shadow: none;
  padding: 8px 10px;
  padding-right: 20%;
  margin: 0;
  color: #5b5b5b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.dropdownMenu .drop-block {
  display: block;
  position: absolute;
  z-index: 6;
  left: 100%;
  top: -9999em;
  transition: opacity 0.3s ease;
  opacity: 0;
  padding: 0;
  background-color: #fff;
  color: #214577;
  margin: 0 -20px 0 0;
  min-width: 250px;
  width: auto;
  box-shadow: 1px 0 4px 0 #bebebe;
}

.max-width-10 {
  max-width: 10px;
}

.max-width-20 {
  max-width: 20px;
}

.max-width-30 {
  max-width: 30px;
}

.max-width-40 {
  max-width: 40px;
}

.max-width-50 {
  max-width: 50px;
}

.max-width-60 {
  max-width: 60px;
}

.max-width-70 {
  max-width: 70px;
}

.max-width-80 {
  max-width: 80px;
}

.max-width-90 {
  max-width: 90px;
}

.max-width-100 {
  max-width: 100px;
}

.max-width-110 {
  max-width: 110px;
}

.max-width-120 {
  max-width: 120px;
}

.max-width-130 {
  max-width: 130px;
}

.max-width-140 {
  max-width: 140px;
}

.max-width-150 {
  max-width: 150px;
}

.max-width-160 {
  max-width: 160px;
}

.max-width-170 {
  max-width: 170px;
}

.max-width-180 {
  max-width: 180px;
}

.max-width-190 {
  max-width: 190px;
}

.max-width-200 {
  max-width: 200px;
}

.max-width-210 {
  max-width: 210px;
}

.max-width-220 {
  max-width: 220px;
}

.max-width-230 {
  max-width: 230px;
}

.max-width-240 {
  max-width: 240px;
}

.max-width-250 {
  max-width: 250px;
}

.max-width-260 {
  max-width: 260px;
}

.max-width-270 {
  max-width: 270px;
}

.max-width-280 {
  max-width: 280px;
}

.max-width-290 {
  max-width: 290px;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-310 {
  max-width: 310px;
}

.max-width-320 {
  max-width: 320px;
}

.max-width-330 {
  max-width: 330px;
}

.max-width-340 {
  max-width: 340px;
}

.max-width-350 {
  max-width: 350px;
}

.max-width-360 {
  max-width: 360px;
}

.max-width-370 {
  max-width: 370px;
}

.max-width-380 {
  max-width: 380px;
}

.max-width-390 {
  max-width: 390px;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-410 {
  max-width: 410px;
}

.max-width-420 {
  max-width: 420px;
}

.max-width-430 {
  max-width: 430px;
}

.max-width-440 {
  max-width: 440px;
}

.max-width-450 {
  max-width: 450px;
}

.max-width-460 {
  max-width: 460px;
}

.max-width-470 {
  max-width: 470px;
}

.max-width-480 {
  max-width: 480px;
}

.max-width-490 {
  max-width: 490px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-510 {
  max-width: 510px;
}

.max-width-520 {
  max-width: 520px;
}

.max-width-530 {
  max-width: 530px;
}

.max-width-540 {
  max-width: 540px;
}

.max-width-550 {
  max-width: 550px;
}

.max-width-560 {
  max-width: 560px;
}

.max-width-570 {
  max-width: 570px;
}

.max-width-580 {
  max-width: 580px;
}

.max-width-590 {
  max-width: 590px;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-610 {
  max-width: 610px;
}

.max-width-620 {
  max-width: 620px;
}

.max-width-630 {
  max-width: 630px;
}

.max-width-640 {
  max-width: 640px;
}

.max-width-650 {
  max-width: 650px;
}

.max-width-660 {
  max-width: 660px;
}

.max-width-670 {
  max-width: 670px;
}

.max-width-680 {
  max-width: 680px;
}

.max-width-690 {
  max-width: 690px;
}

.max-width-700 {
  max-width: 700px;
}

.max-width-710 {
  max-width: 710px;
}

.max-width-720 {
  max-width: 720px;
}

.max-width-730 {
  max-width: 730px;
}

.max-width-740 {
  max-width: 740px;
}

.max-width-750 {
  max-width: 750px;
}

.max-width-760 {
  max-width: 760px;
}

.max-width-770 {
  max-width: 770px;
}

.max-width-780 {
  max-width: 780px;
}

.max-width-790 {
  max-width: 790px;
}

.max-width-800 {
  max-width: 800px;
}

.max-width-810 {
  max-width: 810px;
}

.max-width-820 {
  max-width: 820px;
}

.max-width-830 {
  max-width: 830px;
}

.max-width-840 {
  max-width: 840px;
}

.max-width-850 {
  max-width: 850px;
}

.max-width-860 {
  max-width: 860px;
}

.max-width-870 {
  max-width: 870px;
}

.max-width-880 {
  max-width: 880px;
}

.max-width-890 {
  max-width: 890px;
}

.max-width-900 {
  max-width: 900px;
}

.max-width-910 {
  max-width: 910px;
}

.max-width-920 {
  max-width: 920px;
}

.max-width-930 {
  max-width: 930px;
}

.max-width-940 {
  max-width: 940px;
}

.max-width-950 {
  max-width: 950px;
}

.max-width-960 {
  max-width: 960px;
}

.max-width-970 {
  max-width: 970px;
}

.max-width-980 {
  max-width: 980px;
}

.max-width-990 {
  max-width: 990px;
}

.max-width-1000 {
  max-width: 1000px;
}

.preloader-holder {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.preloader {
  position: absolute;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  -webkit-animation: animatePreloader 1s infinite linear;
          animation: animatePreloader 1s infinite linear;
  transform-origin: 50% 100%;
}
.preloader div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 2px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: colorChange 2s infinite linear;
          animation: colorChange 2s infinite linear;
}
.preloader div:nth-of-type(1):before {
  -webkit-animation: colorChange 0.7s infinite linear;
          animation: colorChange 0.7s infinite linear;
}
.preloader div:nth-child(2) {
  width: 60%;
  height: 60%;
  top: 20%;
  -webkit-animation: animatePreloader 0.5s infinite linear;
          animation: animatePreloader 0.5s infinite linear;
}

@-webkit-keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}

@keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}
@-webkit-keyframes colorChange {
  0% {
    border-color: #025d62;
  }
  25% {
    border-color: #585fe6;
  }
  50% {
    border-color: #a14078;
  }
  75% {
    border-color: #92b113;
  }
}
@keyframes colorChange {
  0% {
    border-color: #025d62;
  }
  25% {
    border-color: #585fe6;
  }
  50% {
    border-color: #a14078;
  }
  75% {
    border-color: #92b113;
  }
}
.bootstrap-select .glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bootstrap-select .glyphicon.glyphicon-ok.check-mark::before {
  content: "\F00C";
}

.blurred-app {
  filter: blur(10px);
}

/* костыли для сайдбара - перебить стили*/
.nav.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.sidebar .nav-item .nav-link {
  padding-right: 50px;
}
.sidebar .nav-item ul {
  padding-left: 30px;
}
.sidebar .collapse-btn {
  position: absolute;
  right: 20px;
  top: 0;
  background-color: #3C4858 !important;
  color: #fff !important;
  border-left: 1px solid #bdb7b7;
  border-radius: 0;
  padding: 12px 14px;
}
.sidebar .collapse-btn.collapsed .rotateable {
  transform: rotate(180deg);
}

.border-none, .bordered.b-bottom, .bordered.b-right, .bordered.b-left, .bordered.b-top {
  border-width: 0;
}

.bordered {
  border-width: 1px;
  border-color: #888;
  border-style: solid;
}
.bordered.b-top {
  border-top-width: 1px !important;
}
.bordered.b-top.double-width {
  border-top-width: 2px !important;
}
.bordered.b-left {
  border-left-width: 1px !important;
}
.bordered.b-left.double-width {
  border-left-width: 2px !important;
}
.bordered.b-right {
  border-right-width: 1px !important;
}
.bordered.b-right.double-width {
  border-right-width: 2px !important;
}
.bordered.b-bottom {
  border-bottom-width: 1px !important;
}
.bordered.b-bottom.double-width {
  border-bottom-width: 2px !important;
}
.bordered.color-light {
  border-color: #d4e4e6;
}

.hr {
  width: 100%;
  border-top: 1px solid #888;
}

/* Styled checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .checkbox-slider {
  background-color: #2196F3;
}
input:focus + .checkbox-slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .checkbox-slider:before {
  transform: translateX(26px);
}

/* Rounded checkbox-sliders */
.checkbox-slider.round {
  border-radius: 34px;
}
.checkbox-slider.round:before {
  border-radius: 50%;
}

/* End styled checkbox*/
.non-actual {
  opacity: 0.5;
}

.clickBoardCopy {
  position: relative;
  padding-right: 15px;
}
.clickBoardCopy + i.fa {
  position: absolute;
  right: 10px;
  top: 10px;
}

.night-mode, .night-mode table, .night-mode .table-striped > tbody > tr:nth-of-type(2n+1), .night-mode .card, .night-mode .breadcrumb, .night-mode a {
  background: #2b2d2d;
  color: white;
}
.night-mode .card, .night-mode .table-striped > tbody > tr:nth-of-type(2n+1) .card {
  border: 1px solid #6b762d;
}
.night-mode a, .night-mode .table-striped > tbody > tr:nth-of-type(2n+1) a, .night-mode .card a, .night-mode .breadcrumb a {
  color: #68ff00;
}