@charset "UTF-8";
.bootstrap-select {
  > .dropdown-toggle.bs-placeholder,
  > .dropdown-toggle.bs-placeholder:active,
  > .dropdown-toggle.bs-placeholder:focus,
  > .dropdown-toggle.bs-placeholder:hover {
    color: white !important;
  }

}

.bootstrap-select .dropdown-menu {
  max-height: 400px;
}

/* Nestable*/

.menu {
  &.dd {
    max-width: 900px;
  }

  .dd-list {
    .dd-list {
      padding-left: 45px;
    }

    .dd-handle {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}


/* End Nestable*/


